{% extends "base.html" %}

{% block titulo %} Factura Pagos {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'CrearPago' %}" role="button">Agregar nueva factura</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Facturas </h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">ID_Metodo_Pago</th>
                        <th scope="col">ID_Producto</th>
                        <th scope="col">ID_Cliente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cantidad productos</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">1</td>
                        <td>1</td>
                        <td>2</td>
                        <td>1</td>
                        <td>12/11/2024</td>
                        <td>3</td>
                        <td>127.000</td>
                        <td> <a name="" id="" class="btn btn-info" href="{% url 'EditarPago' %}" role="button" >Editar</a>
                             | 
                             <a name="" id="" class="btn btn-danger" href="#" role="button" >Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}