{% extends "base.html" %}

{% block titulo %} Factura Pagos {% endblock %}

{% block contenido %} 


<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'CrearPago' %}" role="button">Agregar nuevo pago</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Facturas</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">CantidadProductos</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Productos</th>
                        <th scope="col">MetodoPago</th>
                        <th scope="col">Clientes</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if facturapagos %}
                        {% for facturapago in facturapagos %}
                            <tr>
                                <td>{{ facturapago.Fecha }}</td>
                                <td>{{ facturapago.CantidadProductos}}</td>
                                <td>{{ facturapago.Valor}}</td>
                                <td>{{ facturapago.Productos}}</td>
                                <td>{{ facturapago.MetodoPago}}</td>
                                <td>{{ facturapago.Clientes}}</td>
                                <td>
                                    <a name="" id="" class="btn btn-info" href="{% url 'EditarPago' facturapago.id %}" role="button">Editar</a>
                                    |
                                    <a name="" id="" class="btn btn-danger" href="{% url 'BorrarPago' facturapago.id %}" role="button" onclick="return confirm('¿Estás seguro de que deseas eliminar esta cliente?');">Borrar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No hay facturas disponibles.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}