{% extends "base.html" %}


{% block titulo %} Productos {% endblock %}

{% block contenido %}
 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'CrearProducto' %}" role="button">Agregar nuevo producto</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Producto</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Empleados</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if productos %}
                        {% for producto in productos %}
                            <tr>
                                <td>{{ producto.Nombre }}</td>
                                <td>{{ producto.Precio}}</td>
                                <td>{{ producto.Empleados }}</td>
                                <td>{{ producto.Categorias }}</td>
                                <td>{{ producto.Imagen }}</td>
                                <td>
                                    <a name="" id="" class="btn btn-info" href="{% url 'EditarProducto' producto.id %}" role="button">Editar</a>
                                    |
                                    <a name="" id="" class="btn btn-danger" href="{% url 'EliminarProducto' producto.id %}" role="button" onclick="return confirm('¿Estás seguro de que deseas eliminar esta cliente?');">Borrar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No hay productos disponibles.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}