{% extends "base.html" %}

{% block titulo %} Categorías {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'CrearCategoria' %}" role="button">Agregar nueva categoría</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Categorías</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if categorias %}
                        {% for categoria in categorias %}
                            <tr>
                                <td>{{ categoria.Nombre }}</td>
                                <td>{{ categoria.Descripcion }}</td>
                                <td>
                                    <a name="" id="" class="btn btn-info" href="{% url 'EditarCategoria' categoria.id %}" role="button">Editar</a>
                                    |
                                    <a name="" id="" class="btn btn-danger" href="{% url 'BorrarCategoria' categoria.id %}" role="button" onclick="return confirm('¿Estás seguro de que deseas eliminar esta categoría?');">Borrar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No hay categorías disponibles.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}